.grid {
  background-image: url('../../../assets/images/login/pageBackground.jpg') !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vmax;
  overflow-y: auto;
  overflow-x: hidden;

  @media screen and (min-widht: '1400px') {
    background-position: top;
  }
}
